<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Book Details</title>
</head>
<body>
    <div class="container mt-5">
        <h1>{{book.title}}</h1>
        <p class="lead">ID: {{book.id}}</p>
        <p class="lead">Description: {{book.desc}}</p>
        <p class="lead">Authors:</p>
        <ul class="list-group col-5">
            {% for author in book.authors.all %}
                <li class="list-group-item">{{author.first_name}} {{author.last_name}}</li>
            {% endfor %}
        </ul>
        <form action="add_author/{{book.id}}" method="post" class="mt-3">
            {% csrf_token %}
            <select name="author_id" class="form-control">
                <option disabled selected> - select an author - </option>
                {% for author in all_authors %}
                <option value={{author.id}}>{{author.first_name}} {{author.last_name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add" class="btn btn-primary mt-3">
        </form>
    </div>
</body>
</html>